@import 'tailwindcss';
/* @plugin '@tailwindcss/typography'; */
@import './font.css';

.font-budmo1 {
  font-family: 'Budmo1';
}

.font-budmo2 {
  font-family: 'Budmo2';
}
.font-gokhan {
  font-family: 'Gokhan';
}

.font-merri {
  font-family: 'Merriweather';
}

/* global.css or styles.css */
.markdown-content ul {
  list-style-type: disc !important;
  padding-left: 2em !important;
  margin: 1em 0 !important;
}

.markdown-content ol {
  list-style-type: decimal !important;
  padding-left: 2em !important;
  margin: 1em 0 !important;
}
.markdown-content p {
  margin: 0em 0 !important;
  padding: 0em 0rem 1.5rem 0rem !important;
}

.markdown-content li {
  margin-bottom: 0.5em !important;
}
.markdown-content h1 {
  font-size: 1.2em !important;
  font-weight: 800 !important;
}
.markdown-content h2 {
  font-size: 1.1em !important;
  font-weight: 600 !important;
}
.markdown-content h3 {
  font-size: 1em !important;
  font-weight: 600 !important;
}

@layer components {
  .btn {
    @apply text-black transition delay-50 duration-300 ease-in-out will-change-transform hover:scale-105 hover:text-violet-900;
  }
}
