---
import Layout from "../layouts/Layout.astro";
import DiscoLights from "../components/decorations/DiscoLights.astro";
import { Image } from "astro:assets";
import bar from "../assets/images/pageimages/pa58_images/bar.jpg";
---

<Layout title="Deco">
    <div class="flex flex-col gap-y-4">
        <DiscoLights />
    </div>
</Layout>
