---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Mascot from "../assets/images/pageimages/mascot.png";
import { Content as About_text } from "../content/pages/about.md";
import Article from "../components/Article.astro";
---

<Layout title="PA 58">
	<h1 class="text-3xl font-merri font-semibold mb-5">Forró</h1>
	<div class="flex flex-col col-span-1 lg:flex-row justify-between">
		<div class="lg:pr-5">
			<Article>
				<About_text />
			</Article>
		</div>
		<div class="">
			<Image
				src={Mascot}
				alt="PA58 Mascot"
				class="h-auto w-auto md:min-w-md lg:min-w-lg"
			/>
		</div>
	</div>
</Layout>
