---
import { render } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import { Image } from "astro:assets";

interface Props {
    post: any; // or `CollectionEntry<'blog'>` if type imported
}

import { getImage } from "../utils/getImage";
import Article from "./Article.astro";

const { post } = Astro.props;
// const thumbnail = post.data.thumbnail
//     ? await getImage(post.data.thumbnail)
//     : null;

const { Content } = await render(post);
---

<article class="my-0 relative">
    <div class="flex flex-col md:flex-row gap-6 items-start">
        <div
            class="fixed top-0 h-10 z-10 pointer-events-none
              bg-gradient-to-t from-transparent to-amber-200"
        >
        </div>
        <div class="flex-1 w-2/3 font-merri">
                <time class="text-lg text-gray-500">
                    {
                        new Date(post.data.pubDate).toLocaleDateString(
                            "de-DE",
                            {
                                year: "numeric",
                                month: "long",
                                day: "numeric",
                            },
                        )
                    }
                </time>
            <h2 class="text-xl font-semibold">
                {post.data.title}
            </h2>
            <Article>
                <Content />
            </Article>
        </div>
        <!-- <div class="w-1/3">
            {
                thumbnail ? (
                    <Image
                        src={thumbnail}
                        alt={post.data.title || "Post thumbnail"}
                        width={400}
                        height={300}
                        class="w-4/5 rounded-lg shadow-sm"
                        loading="eager"
                    />
                ) : (
                    <div class="w-4/5 h-[300px] bg-gray-100 rounded-lg flex items-center justify-center">
                        <span class="text-gray-400">Image not available</span>
                    </div>
                )
            }
        </div> -->
    </div>
</article>
