---
import FDC from "./decorations/FDC_lights.astro";
---

<nav class="top-0 h-10 mt-6 mb-10 sm:h-15 sm:mt-7 sm:mb-14 z-10">
  <div class="flex justify-between items-center relative">
    <!-- Forró da Capita -->
    <a href="/" class="">
      <h1
        class="hidden lg:block text-3xl md:text-5xl font-budmo1 whitespace-nowrap"
      >
        <FDC />
      </h1>
    </a>

    <!-- Right Menu Container -->
    <div class="relative">
      <div
        class="flex flex-row space-x-5 text-xl font-gokhan tracking-wider z-90 navbar"
      >
        <div class="btn"><a href="/">Home</a></div>
        <div class="btn"><a href="/news">News</a></div>

        <div class="dropdown">
          <div class="subnav">
            <button class="subnavbtn btn">More</button>
            <div
              class="subnav-content flex flex-col bg-amber-50
                            md:space-x-2 md:flex-col"
            >
              <a class="btn" href="/pa58">PA58</a>
              <a href="/forro" class="btn flex items-center">
                <svg
                  viewBox="0 -105 640 280"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="h-[28px] w-auto"
                >
                  <path
                    id="rect1"
                    d="m 615.62365,-77.844006 c -9.4095,5.760594 -20.69847,10.490166 -27.40511,12.955816 -6.70665,2.465662 -9.00636,1.277059 -10.03709,-1.759588 -1.59512,-4.246076 -0.55011,-9.418532 2.70686,-12.607719 9.20978,-11.934265 28.43903,-20.222443 31.6453,-21.547953 1.86649,-0.73045 3.92447,0.34767 4.77859,2.06931 1.76633,3.093528 7.10536,14.082197 -1.68855,20.890134 z M 122.81849,26.125618 q 0,2.215008 0.36917,6.829608 0.55375,4.6146 1.1075,10.521288 0.73834,5.722104 1.29209,11.99796 0.73834,6.275856 1.10751,11.628792 0.36916,5.352936 0.36916,9.2292 0.18459,3.876264 -0.36916,4.799184 -0.73834,1.292088 -2.3996,2.030424 -1.47667,0.738336 -2.76876,0.92292 -2.39959,0.369168 -7.01419,0.92292 -4.6146,0.738336 -9.59837,1.107504 -4.983764,0.553752 -9.229196,0.184584 -4.245432,-0.184584 -6.091272,-1.661256 -1.107504,-0.738336 -1.84584,-2.399592 -0.553752,-1.84584 -0.92292,-3.876264 -0.369168,-2.030424 -0.553752,-3.876264 -0.184584,-2.030424 -0.369168,-3.322512 -0.738336,-7.567944 -0.738336,-14.951304 0,-7.567944 -0.369168,-15.135888 Q 83.871268,21.511018 82.763764,1.7605305 81.65626,-18.174541 78.518332,-37.371277 q -0.369168,-2.030424 -0.738336,-4.060848 -0.553752,-2.215008 -0.184584,-4.245432 0.92292,-3.507096 4.6146,-4.430016 4.245432,-1.292088 12.367128,-2.030424 8.1217,-0.738336 17.3509,-1.107504 9.2292,-0.553752 17.90464,-0.738336 8.86004,-0.369168 14.39756,-0.92292 1.29208,-0.184584 4.24543,-0.553752 2.95334,-0.553752 6.09127,-0.92292 3.32251,-0.369168 6.09127,-0.369168 2.76876,0 3.69168,0.738336 0.92292,0.92292 1.10751,1.84584 0.36916,0.738336 0.55375,2.030424 0.18458,1.84584 0.55375,6.275856 0.55375,4.430016 0.55375,9.413784 0.18459,4.799184 -0.18458,9.044616 -0.18459,4.060848 -1.29209,5.168352 -1.47667,1.292088 -5.35294,2.030424 -3.87626,0.738336 -9.04461,1.292088 -5.16835,0.369168 -10.89046,0.738336 -5.53752,0.184584 -10.52129,0.553752 -4.79918,0.369168 -8.30628,0.92292 -3.50709,0.553752 -4.06084,1.476672 -0.36917,0.553752 -0.36917,1.84584 0,1.292088 0,2.76876 0.18458,1.2920876 0.36917,2.5841756 0.36916,1.2920879 0.73833,1.8458399 0.73834,1.476672 3.69168,1.84584 3.13793,0.184584 7.38336,-0.184584 4.24543,-0.553752 9.2292,-1.292088 4.98377,-0.92292 9.41379,-1.4766719 4.6146,-0.553752 8.12169,-0.553752 3.69168,0 5.35294,0.92292 0.92292,0.7383359 1.47667,1.6612559 0.55375,0.738336 0.92292,1.84584 0.36917,1.107504 0.92292,4.6146 0.55375,3.507096 0.92292,7.38336 0.55375,3.8762645 0.55375,7.1987765 0,3.322511 -0.55375,4.245431 -0.92292,1.292088 -6.82961,2.399592 -5.90669,0.92292 -13.29005,1.84584 -7.19877,0.738336 -13.8438,1.292088 -6.64502,0.369168 -8.86003,0.553752 z M 262.3029,85.930834 q -3.32251,1.292088 -9.96753,1.476672 -6.46044,0.369168 -13.8438,0 -7.38336,-0.369168 -14.21297,-1.107504 -6.82961,-0.553752 -10.89046,-0.92292 -7.01419,-0.92292 -14.21296,-2.030424 -7.19878,-1.107504 -13.65922,-4.799184 -4.79918,-2.76876 -8.1217,-7.014192 -3.32251,-4.430016 -4.79918,-9.782952 -1.1075,-4.060848 -1.47667,-11.628792 -0.18459,-7.567944 0.18458,-16.797144 0.36917,-9.413784 1.10751,-19.565903 0.92292,-10.3367045 2.03042,-19.7504885 1.1075,-9.5983675 2.39959,-17.3508955 1.29209,-7.752528 2.39959,-12.182544 1.66126,-6.091272 6.09128,-11.444208 4.6146,-5.53752 10.70587,-7.567944 5.53752,-1.84584 11.44421,-2.215008 5.90668,-0.553752 11.62879,-0.184584 7.75253,0.369168 17.35089,0.553752 9.78296,0.184584 19.01216,1.84584 9.41378,1.661256 17.35089,5.722104 7.93711,3.876264 12.18255,11.813376 1.66125,3.137928 2.39959,9.967536 0.73833,6.829608 0.73833,15.68964 0,8.6754475 -0.55375,18.4583995 -0.36917,9.5983685 -1.1075,18.6429835 -0.55375,8.860032 -1.47667,16.243392 -0.73834,7.198776 -1.29209,10.890456 -0.92292,5.352936 -2.58418,10.705872 -1.66125,5.352936 -4.24543,10.15212 -2.39959,4.245432 -6.27586,7.38336 -3.69168,2.953344 -8.30628,4.799184 z M 223.54026,48.275698 q 3.87627,0.92292 7.93712,1.292088 4.06084,0.369168 7.75252,-1.661256 3.32252,-1.661256 5.72211,-6.829608 2.58417,-5.168352 4.24543,-11.99796 1.66126,-7.014192 2.39959,-14.582135 0.73834,-7.7525285 0.55375,-14.39755246 -0.18458,-6.82960804 -1.47667,-11.62879154 -1.1075,-4.983768 -3.50709,-6.091272 -1.10751,-0.553752 -3.87627,-0.92292 -2.58417,-0.369168 -5.7221,-0.553752 -2.95335,-0.369168 -5.72211,-0.369168 -2.76876,-0.184584 -4.24543,-0.184584 -2.03042,0.184584 -4.06085,0.369168 -1.84584,0.184584 -3.69168,1.292088 -2.03042,1.292088 -3.69168,6.091272 -1.66125,4.6145996 -2.95334,11.07503954 -1.1075,6.46043996 -1.66126,13.84380046 -0.55375,7.383359 -0.36916,14.028383 0.18458,6.46044 0.92292,11.444208 0.92292,4.983768 2.76876,6.46044 1.84584,1.661256 4.06084,2.215008 2.3996,0.553752 4.6146,1.107504 z M 382.0369,32.586058 q 5.72211,5.53752 8.49087,10.521288 2.76876,4.799184 3.87626,10.15212 1.10751,5.168352 0.92292,11.259624 0,5.906688 0,13.290048 0,1.476672 -0.18458,2.953344 -0.18459,1.476672 -1.10751,2.76876 -0.73833,1.107504 -2.95334,1.661256 -2.03042,0.738336 -4.43002,1.107504 -2.39959,0.369168 -4.79918,0.369168 -2.21501,0.184584 -3.5071,0.184584 -1.66125,0 -4.43001,0 -2.58418,0 -5.35294,-0.369168 -2.76876,-0.184584 -5.16835,-0.738336 -2.39959,-0.553752 -3.5071,-1.84584 -0.73833,-0.92292 -1.1075,-3.69168 -0.18458,-2.953344 -0.36917,-6.829608 -0.18458,-3.876264 -0.36917,-8.121696 -0.18458,-4.430016 -0.92292,-8.30628 -0.55375,-4.060848 -1.84584,-7.198776 -1.1075,-3.137928 -3.32251,-4.430016 -3.69168,-2.030424 -9.04461,-2.215008 -5.16836,-0.369168 -9.41379,-0.184584 0,2.76876 0,8.675448 0.18459,5.722104 0,11.99796 -0.18458,6.091272 -0.92292,11.444208 -0.55375,5.352936 -1.84584,7.198776 -1.29209,1.84584 -3.32251,2.399592 -1.84584,0.738336 -3.87626,1.107504 -2.21501,0.369168 -7.56795,0.553752 -5.35293,0.184584 -10.89045,-0.369168 -5.35294,-0.553752 -9.59837,-2.215008 -4.24543,-1.476672 -4.24543,-4.6146 -0.18459,-7.198776 0.18458,-14.397552 0.36917,-7.38336 0.55375,-14.582136 0.36917,-15.135888 0.55375,-30.271776 0.18459,-15.1358875 0.36917,-30.456359 0.18459,-8.490864 -0.18458,-17.350896 -0.36917,-9.044616 0.73833,-17.350896 1.10751,-7.198776 8.49087,-8.30628 4.79918,-0.738336 13.10546,-0.92292 8.49087,-0.184584 17.72007,0 9.2292,0.184584 17.72006,0.738336 8.67545,0.369168 14.02838,0.92292 11.6288,1.107504 20.48883,7.198776 8.86003,6.091272 13.10546,17.166312 3.13793,7.937112 3.5071,16.61256 0.36917,8.4908635 -1.66126,16.6125595 -2.03042,8.1216965 -6.64502,15.3204715 -4.43002,7.198776 -11.25963,12.551712 z M 331.46089,4.7138745 q 4.6146,0 9.04461,0.738336 4.6146,0.553752 9.2292,-0.369168 3.69168,-0.738336 6.46044,-2.76876 2.95335,-2.21500796 4.43002,-4.983768 1.66126,-2.953344 1.66126,-6.0912719 0,-3.1379276 -2.3996,-5.7221036 -2.215,-2.584176 -6.8296,-4.060848 -4.6146,-1.661256 -12.36713,-1.476672 -2.03043,0 -4.24543,0.184584 -2.03043,0.184584 -4.06085,0.738336 -0.18459,5.906688 -0.55375,11.9979596 -0.18459,5.9066879 -0.36917,11.8133759 z M 497.15592,32.586058 q 5.72211,5.53752 8.49087,10.521288 2.76876,4.799184 3.87626,10.15212 1.1075,5.168352 0.92292,11.259624 0,5.906688 0,13.290048 0,1.476672 -0.18458,2.953344 -0.18459,1.476672 -1.10751,2.76876 -0.73833,1.107504 -2.95334,1.661256 -2.03043,0.738336 -4.43002,1.107504 -2.39959,0.369168 -4.79918,0.369168 -2.21501,0.184584 -3.5071,0.184584 -1.66125,0 -4.43001,0 -2.58418,0 -5.35294,-0.369168 -2.76876,-0.184584 -5.16835,-0.738336 -2.39959,-0.553752 -3.5071,-1.84584 -0.73833,-0.92292 -1.1075,-3.69168 -0.18459,-2.953344 -0.36917,-6.829608 -0.18458,-3.876264 -0.36917,-8.121696 -0.18458,-4.430016 -0.92292,-8.30628 -0.55375,-4.060848 -1.84584,-7.198776 -1.1075,-3.137928 -3.32251,-4.430016 -3.69168,-2.030424 -9.04462,-2.215008 -5.16835,-0.369168 -9.41378,-0.184584 0,2.76876 0,8.675448 0.18458,5.722104 0,11.99796 -0.18458,6.091272 -0.92292,11.444208 -0.55375,5.352936 -1.84584,7.198776 -1.29209,1.84584 -3.32251,2.399592 -1.84584,0.738336 -3.87627,1.107504 -2.215,0.369168 -7.56794,0.553752 -5.35294,0.184584 -10.89046,-0.369168 -5.35293,-0.553752 -9.59836,-2.215008 -4.24544,-1.476672 -4.24544,-4.6146 -0.18458,-7.198776 0.18459,-14.397552 0.36917,-7.38336 0.55375,-14.582136 0.36917,-15.135888 0.55375,-30.271776 0.18459,-15.1358875 0.36917,-30.456359 0.18458,-8.490864 -0.18458,-17.350896 -0.36917,-9.044616 0.73833,-17.350896 1.10751,-7.198776 8.49087,-8.30628 4.79918,-0.738336 13.10546,-0.92292 8.49086,-0.184584 17.72006,0 9.2292,0.184584 17.72007,0.738336 8.67545,0.369168 14.02838,0.92292 11.62879,1.107504 20.48883,7.198776 8.86003,6.091272 13.10546,17.166312 3.13793,7.937112 3.5071,16.61256 0.36916,8.4908635 -1.66126,16.6125595 -2.03042,8.1216965 -6.64502,15.3204715 -4.43002,7.198776 -11.25963,12.551712 z M 446.57991,4.7138745 q 4.6146,0 9.04461,0.738336 4.6146,0.553752 9.2292,-0.369168 3.69168,-0.738336 6.46044,-2.76876 2.95335,-2.21500796 4.43002,-4.983768 1.66125,-2.953344 1.66125,-6.0912719 0,-3.1379276 -2.39959,-5.7221036 -2.21501,-2.584176 -6.82961,-4.060848 -4.6146,-1.661256 -12.36712,-1.476672 -2.03043,0 -4.24544,0.184584 -2.03042,0.184584 -4.06084,0.738336 -0.18459,5.906688 -0.55376,11.9979596 -0.18458,5.9066879 -0.36916,11.8133759 z M 610.05999,85.930834 q -3.32251,1.292088 -9.96753,1.476672 -6.46044,0.369168 -13.8438,0 -7.38336,-0.369168 -14.21297,-1.107504 -6.82961,-0.553752 -10.89046,-0.92292 -7.01419,-0.92292 -14.21297,-2.030424 -7.19877,-1.107504 -13.65921,-4.799184 -4.79919,-2.76876 -8.1217,-7.014192 -3.32251,-4.430016 -4.79918,-9.782952 -1.10751,-4.060848 -1.47667,-11.628792 -0.18459,-7.567944 0.18458,-16.797144 0.36917,-9.413784 1.1075,-19.565903 0.92292,-10.3367045 2.03043,-19.7504885 1.1075,-9.5983675 2.39959,-17.3508955 1.29209,-7.752528 2.39959,-12.182544 1.66126,-6.091272 6.09127,-11.444208 4.6146,-5.53752 10.70588,-7.567944 5.53752,-1.84584 11.4442,-2.215008 5.90669,-0.553752 11.6288,-0.184584 7.75252,0.369168 17.35089,0.553752 9.78295,0.184584 19.01215,1.84584 9.41379,1.661256 17.3509,5.722104 7.93711,3.876264 12.18254,11.813376 1.66126,3.137928 2.3996,9.967536 0.73833,6.829608 0.73833,15.68964 0,8.6754475 -0.55375,18.4583995 -0.36917,9.5983685 -1.1075,18.6429835 -0.55376,8.860032 -1.47668,16.243392 -0.73833,7.198776 -1.29208,10.890456 -0.92292,5.352936 -2.58418,10.705872 -1.66126,5.352936 -4.24543,10.15212 -2.39959,4.245432 -6.27586,7.38336 -3.69168,2.953344 -8.30628,4.799184 z M 571.29735,48.275698 q 3.87627,0.92292 7.93711,1.292088 4.06085,0.369168 7.75253,-1.661256 3.32251,-1.661256 5.72211,-6.829608 2.58417,-5.168352 4.24543,-11.99796 1.66125,-7.014192 2.39959,-14.582135 0.73834,-7.7525285 0.55375,-14.39755246 -0.18458,-6.82960804 -1.47667,-11.62879154 -1.1075,-4.983768 -3.5071,-6.091272 -1.1075,-0.553752 -3.87626,-0.92292 -2.58418,-0.369168 -5.7221,-0.553752 -2.95335,-0.369168 -5.72211,-0.369168 -2.76876,-0.184584 -4.24543,-0.184584 -2.03042,0.184584 -4.06085,0.369168 -1.84584,0.184584 -3.69168,1.292088 -2.03042,1.292088 -3.69168,6.091272 -1.66125,4.6145996 -2.95334,11.07503954 -1.10751,6.46043996 -1.66126,13.84380046 -0.55375,7.383359 -0.36917,14.028383 0.18459,6.46044 0.92292,11.444208 0.92292,4.983768 2.76876,6.46044 1.84584,1.661256 4.06085,2.215008 2.39959,0.553752 4.6146,1.107504 z"
                  ></path>
                </svg>
              </a>
              <a class="btn" href="/deco">Deco</a>
              <a class="btn" href="http://localhost:4001">Admin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  /* The navigation menu */
  .navbar {
    /* overflow: hidden;     */
    background-color: inherit;
  }

  /* Navigation links */
  .navbar a {
    float: left;
    color: inherit;
    text-align: center;
    text-decoration: none;
  }

  /* The subnavigation menu */
  .subnav {
    flex: left;
    /* overflow: hidden; */
  }

  /* Subnav button */
  .subnav .subnavbtn {
    /* font-size: 16px; */
    border: none;
    outline: none;
    /* background-color: inherit; */
    font-family: inherit;
    /* margin: 0;  */
  }

  /* Add a red background color to navigation links on hover */
  .navbar a:hover,
  .subnav:hover .subnavbtn {
    /* background-color: inherit; */
  }

  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    /* margin-right: 0px;s */
    left: 0;
    /* background-color: red; */
    /* color: indigo; */
    width: 100%;
    z-index: 1;
  }

  /* Style the subnav links */
  .subnav-content a {
    font-size: large;
    padding: 14px 4px;
    float: right;
    /* color: oklch(35.9% 0.144 278.697) */
    /* text-decoration: none; */
  }

  /* Add a grey background color on hover */
  .subnav-content a:hover {
    /* background-color: #eee; */
    color: oklch(35.9% 0.144 278.697);
  }

  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: flex;
  }
</style>
