---
import Footer from '../components/Footer.astro';
// import Navbar from "../components/Navbar.astro";
import NewHeader from '../components/NewHeader.astro';
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style>
      html,
      body {
        height: 100%;
        overflow: hidden; /* Required for smooth scrolling */
      }
      #smooth-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      #smooth-content {
        width: 100%;
        will-change: transform;
      }
    </style>
  </head>
  <body class="h-full">
    <!-- <div id="smooth-wrapper" class="flex inset-0 bg-amber-50"> -->
    <div class="flex inset-0 bg-amber-50">
      <!-- <div id="smooth-content" class="flex flex-col mx-4 sm:mx-[9.5rem] w-full min-h-screen"> -->
      <div class="flex flex-col mx-4 sm:mx-[9.5rem] w-full min-h-screen">
        <NewHeader />
        <main class="flex-grow mb-10 md:mb-20">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
    <script type="module" src="/src/scripts/smoothScroll.js"></script>
  </body>
</html>
